/* login css */
@font-face {
    font-family:roboto_medium ;
    src: url(../media/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:roboto_bold ;
    src: url(../media/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: neue;
    src: url(../media/fonts/Bebas_Neue/BebasNeue-Regular.ttf)
}

.login_header{
    width: 100%;
    /* height: 50px; */
    /* background-color: black; */
    display: flex;
    justify-content: center;
    position: fixed;
    margin: 10px;
    z-index: 10;
}

.login_header_container{
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.login_header_logo{
    width: 20%;
    font-family: neue;
    font-size: 300%;
    /* font-weight: ; */
    display: flex;
    justify-content: center;
    color: #E0BB20;
}
.login_header_nav{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.login_language{
    /* opacity: 0.5; */
    border: 1px solid white;
    padding: 2%;
    font-family: neue;
}

.login_globe_icon{
    color: white;
}
.login_language_select{
    background-color:transparent;
    border: none;
    color: white;
    
}

.login_language_select>option:hover {
    background-color:#FAFAFA;
}

.login_language_select>option {
    border: none;
    background-color:#E0BB20;
    font-family: neue;
}
.login_sign_in{
    background-color: #E0BB20;
    color: white;
    padding: 0px 10px;
    border: 1ps solid white;
    width: 30%;
    font-family: neue;
    border-radius: 5px;
    cursor: pointer;
}

/* css for banner */
.login_banner{
    width: 100%;
    height: 100vh;
    background-image: url('../media/images/banner_poster.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: saturation;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_banner_container{
    margin-top: 30px;
    width: 60%;
    height: 50%;
    /* background-color: white; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    font-family: robot_regular;
}

.login_form_section{
    padding-top: 80px;
    width: 60%;
}
.login_input_form{
    display: flex;
    flex-direction: column;
    font-family: robot-medium;
    font-size: 20px;
    row-gap: 10px;
    padding: 5px;
    color: white;
    align-items: center;
}

.login_input_form input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    text-indent: 30px;
    background-color: hsl(0deg 2% 91%);
}

.login_input_form input::placeholder{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.login_email_btn{
    background:#E0BB20 ;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: neue;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width:280px) and (max-width:420px) {
    /* .desktop{
        display: none;
    } */
    .login_header_nav{
        width: 60%;
    }
    .login_header_logo{
        width: 40%;
    }

    .login_banner{
        height: 60vh;
    }
    .login_form_section{
        width: 100%;
    }
    .login_input_form input::placeholder{
        font-size: 13px;
        height: 25px;
    }

    .login_email_btn{
        width: 100%;
    }

}

@media (min-width:700px) and (max-width:1000px){
    .login_header_nav{
        width: 40%;
    }
    .login_header_logo{
        width: 30%;
    }
}

@media (min-width:1536px) and (max-width:2048px){
    .login_header_logo{   
        font-size: 550%;
    }
    .login_header_nav{
        width: 30%;
    }
    .login_language{
        font-size: 40px;
    }
    .login_language_select{
        font-size: 40px;
    }
    .login_language_select>option{
        font-size: 10px;
        width: 10px;
    }
    .login_sign_in{
        font-size: 40px;
    }
}